<footer>
    <p class="mb-2"><a href="<%- theme.footer.home %>" target="_blank">Home</a> · <a href="<%- theme.footer.github %>" target="_blank">GitHub</a>
    <p>Designed and built with by <a href="<%- theme.footer.author_url %>" target="_blank"><%- theme.footer.author_name %></a>. Licensed under the <a href="<%- theme.footer.license %>" target="_blank">GPL V3 License</a>.</p>
</footer>